{% extends "base.html" %}

{% block main %}
    <h1>Contact Information</h1>
    <p>If you would like to get in touch, feel free to reach out through any of the platforms below:</p>
    
    <div class="contact-info">
        <h2>Email</h2>
        <p><a href="mailto:maxcsh@connect.hku.hk">maxcsh@connect.hku.hk</a></p>
        
        <h2>LinkedIn</h2>
        <p><a href="https://www.linkedin.com/in/max-chungsh?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">Connect with me on LinkedIn</a></p>
        
        <h2>Instagram</h2>
        <p><a href="https://www.instagram.com/maxchung_00_x/profilecard/?igsh=MWVpNGc4MGFvdWR0OA==" target="_blank">Follow me on Instagram</a></p>
    </div>
{% endblock %}