
{% block main %}
    <h1>Sitemap</h1>
    <p>Welcome to the sitemap page!</p>
    <ul>
        <li><a href="http://mcmchung.myqnapcloud.com:5000/index">http://mcmchung.myqnapcloud.com:5000/home</a></li>
        <li><a href="http://mcmchung.myqnapcloud.com:5000/about">http://mcmchung.myqnapcloud.com:5000/about</a></li>
        <li><a href="http://mcmchung.myqnapcloud.com:5000/contact">http://mcmchung.myqnapcloud.com:5000/contact</a></li>
        <li><a href="http://mcmchung.myqnapcloud.com:5000/sitemap">http://mcmchung.myqnapcloud.com:5000/sitemap</a></li>
        <li><a href = "https://www.linkedin.com/in/max-chungsh?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">https://www.linkedin.com/in/max-chungsh?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app</a></li>
        <li><a href = "https://www.instagram.com/maxchung_00_x/profilecard/?igsh=MWVpNGc4MGFvdWR0OA==">https://www.instagram.com/maxchung_00_x/profilecard/?igsh=MWVpNGc4MGFvdWR0OA==</a></li>
        <li><a href = "https://github.com/MaxChungsh">https://github.com/MaxChungsh</a></li>
    </ul>
{% endblock %}